USE [master]
GO
/****** Object:  Database [sDBS]    Script Date: 6/8/2017 12:41:32 PM ******/
CREATE DATABASE [sDBS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sDBS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\sDBS.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sDBS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\sDBS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sDBS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sDBS]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 6/8/2017 12:41:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([ID], [Name], [Description], [DateCreated], [DateUpdated]) VALUES (10, N'Task 1', N'Description 1', CAST(N'2017-06-08 11:02:31.430' AS DateTime), CAST(N'2017-06-08 12:23:14.780' AS DateTime))
INSERT [dbo].[Tasks] ([ID], [Name], [Description], [DateCreated], [DateUpdated]) VALUES (33, N'Task 4', N'Description 4', CAST(N'2017-06-08 12:26:16.753' AS DateTime), CAST(N'2017-06-08 12:26:40.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tasks] OFF
USE [master]
GO
